html {
  height: 100%; }

body {
  background: #d6e6f2;
  min-height: 100%;
  display: flex;
  flex-direction: column; }
header{

}
main {
  flex: auto;
  margin: 3rem 2rem; }
footer {
  background: #1fab89;
  padding: 3rem;
  text-align: center; }
